:root {
    --c-text-p: #A7ABB6;
    --c-text-span: #516371;
    --c-text-h1: #202020;
    --c-text-h1-title: #2D2D2D;
    --c-text-h2: #202020;
    --c-text-h2-title: #2D2D2D;
    --c-text-h3: #202020;
    --c-accent: #0041E8;
    --c-background: #FFFFFF;
    --c-background-inverted: #000000;
    --c-a: #A7ABB6;
    --c-a-active: #383838;
    --c-a-hover: #383838;
    --c-a-active-inverted: #FFFFFF;
}