section.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 83px;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.pointer {
    margin-bottom: 30px;
    &.left {
        transform: translateX(100%);
    }
    &.right {
        transform: translateX(-100%);
    }
}

div.imageLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);

    div.leftFrameTitle {
        font-weight: 600;
        font-size: 14px;
        color: #141414;
        padding-left: 8px;
    }
    div.graph {
        padding: 19px 21px 25px 21px;
    }
    div.frameBottom {
        display: flex;
        align-items: center;
        justify-content: center;

        div.position {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 13px;
            color: #141414;
            font-size: 8px;
            font-weight: 500;

            div.elipse {
                margin-right: 6px;
            }

            img {
                margin-left: 6px;
            }
        }

        div.elipse {
            border-radius: 50%;
            width: 12px;
            height: 12px;

            &.red {
                background-color: #FF7777;
            }
            &.blue {
                background-color: #6389EB;
            }
        }
    }
}
div.imageRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateX(100%) translateY(-50%);

    div.line1 {
        color: #141414;
        font-weight: 600;
        font-size: 14px;
    }

    div.rightFrameBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        div.avatars {
            display: flex;
            flex-direction: row-reverse;
            padding-right: 16px;
            img {
                display: block;
                width: 32px;
                height: 32px;
                background-color: #ffffff;
                box-sizing: content-box;
                padding: 2px;
                border-radius: 50%;
                margin-right: -16px;
            }
        }
    
        div.rating {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            margin-left: 12px;
        }

        div.star {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
        }
    }

}
// @media only screen and (max-width: 1250px) {
//     div.imageLeft, div.imageRight {
//         position: static;
//         right: auto;
//         top: auto;
//         transform: translateX(0) translateY(0);
//         margin-top: -30px;
//     }
//     div.imageLeft {
//         transform: rotate(-15deg);
//     }
//     div.imageRight {
//         transform: rotate(15deg);
//     }
//     div.imagesWrapper {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         flex-direction: row-reverse;
//     }
// }
// @media only screen and (max-width: 810px) {
//     div.imagesWrapper {
//         display: none;
//     }
// }
@media only screen and (max-width: 750px) {
    div.imagesWrapper {
        display: none;
    }
}

div.titleWrapper {
    display: block;
    position: relative;
    max-width: 752px;
}
@media only screen and (max-width: 1170px) {
    div.titleWrapper {
        max-width: 600px;
    }
}
@media only screen and (max-width: 920px) {
    div.titleWrapper {
        max-width: 420px;
    }
}

div.text {
    font-family: 'Satoshi-Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;

    span.descriptionTop {
        margin-bottom: 16px;
        color: var(--c-text-span);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1.title {
        line-height: 115%;
        font-size: 72px;
        color: var(--c-text-h1-title);
        max-width: 752px;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (max-width: 1170px) {
        h1.title {
            font-size: 52px;
        }
    }
    @media only screen and (max-width: 920px) {
        h1.title {
            font-size: 36px;
        }
    }
    span.descriptionBottom {
        margin-top: 24px;
        color: var(--c-text-span);
        display: block;
        max-width: 558px;
        margin-left: auto;
        margin-right: auto;
    }
}

div.frame {
    border-radius: 16px;
    box-shadow: 0px 9px 44px -12px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 9px 44px -12px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 9px 44px -12px rgba(0,0,0,0.09);
    background-color: var(--c-background);
    padding: 12px 14px;
}

ul.list {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Satoshi-Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    list-style: none;
    flex-wrap: wrap;

    li {
        display: block;
        margin-right: 50px;
        color: var(--c-text-span);

        &::before {
            display: inline-block;
            content: '';
            transform: translateY(-50%);
            margin-right: 8px;
            width: 6px;
            height: 6px;
            background-color: var(--c-text-span);
            border-radius: 50%;
        }
        @media only screen and (max-width: 420px) {
            &::before {
                display: none;
            }
        }
    }
    :last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 920px) {
    ul.list {
        justify-content: space-between;
        li {
            display: block;
            width: 33%;
            text-align: center;
            margin: 0;
        }
    }
}
@media only screen and (max-width: 420px) {
    ul.list li {
        width: 50%;
    }
}